<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
    <form action="/signup" th:action="@{/signup}" th:object="${account}" method="post">
        <p>Username : <input type="text" th:field="*{username}"></p>
        <p>Password : <input type="password" th:field="*{password}"></p>
        <p><input type="submit" value="SignUp"></p>
        <!--    thymeleaf 2.1 버전을 쓰거나 jsp를 쓰면 csrf 토큰을 자동으로 넣어준다.    -->
    </form>
</body>
</html>